<section id="resume">
{{ range .Site.Params.resume }}
    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-{{ .icon }}">
            <img src="{{ .Site.BaseURL }}/assets/vertical-timeline/img/cd-icon-{{ .icon }}.svg" alt="Picture">
        </div>
        <div class="cd-timeline-content">
            <h2>{{ .what }}</h2>
            <p>
                <span class="cd-date">{{ .from }} − {{ .to }}</span>
            </p>
        </div> <!-- cd-timeline-content -->
    </div>
{{ end }}
</section>
